<div class="profile">
  <h2>Profile Page</h2>
  <div class="row">

    <!-- FRIENDS and PROFILE-->
    <div class="col-md-4">
      <h4 class="text-center">My Friends</h4>
      <div>blah</div>

      <h4 class="text-center">My Profile</h4>
      <div class="row">
        <div class="col-md-4 text-right">username: </div>
        <div class="col-md-8">

          <!-- turn to directive -->
          <span ng-hide="vm.clicked">{{vm.me.username}}</span>
          <input ng-show="vm.clicked" type="text" ng-model="vm.me.username">
          <!-- turn to directive -->

        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-right">password: </div>
        <div class="col-md-8">

          <!-- turn to directive -->
          <span ng-hide="vm.clicked">{{vm.me.password}}</span>
          <input ng-show="vm.clicked" type="text" ng-model="vm.me.password">
          <!-- turn to directive -->

        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-right">email: </div>
        <div class="col-md-8">

          <!-- turn to directive -->
          <span ng-hide="vm.clicked">{{vm.me.email}}</span>
          <input ng-show="vm.clicked" type="text" ng-model="vm.me.email">
          <!-- turn to directive -->

        </div>
      </div>
      <div>

        <!-- turn to directive -->
        <span ng-hide="vm.clicked" ng-click="vm.toggleEdit(null, $index)">
          <a>EDIT</a>
        </span>
        <span ng-show="vm.clicked" ng-click="vm.toggleEdit(false, $index)">
          <a>CANCEL</a>
        </span>
        <span ng-show="vm.clicked" ng-click="vm.toggleEdit(true, $index)">
          <a>SAVE</a>
        </span>
        <!-- turn to directive -->

      </div>
    </div>
    <!-- end friends -->

    <!-- OTHER PROFILE -->
    <div class="col-md-6">
      <div ui-view></div>

    </div>
    <!-- end other profile -->


    <!-- list of other users -->
    <div class="col-md-2">
      <h4>Other Users</h4>
      <div class="row" ng-repeat="user in vm.users">
        <div>
          <a ui-sref="user({id: user.id})">{{user.username}}</a>
        </div>
      </div>
    </div>
    <!-- end other users -->

  </div>

</div>
